<!--A propos Section Start-->
<section id="about" class="about-section pt-page">
    <div class="section-container">
        <!--Page Heading-->
        <div class="page-heading">
            <span class="icon"><i class="lnr lnr-user"></i></span>
            <h2>A propos de moi</h2>
        </div>


        <!-- About Info Row Start-->
        <div class="row about mt-30 mb-70">

            <div class="col-lg-8">
                <!--Personal Intro-->
                <h3 class="mb-20">Création de sites & Applications Web</h3>
                <p>
                    Je suis entré dans le monde du web au début des années 2000 et j'ai fais mes premiers pas en tant qu'autodidacte. Afin de passer un cap supplémentaire et d'acquérir des compétences professionnelles, j'ai suivi récemment une <strong>formation de Développeur Web & Web Mobile au sein de l'école O'Clock et obtenu le Titre Professionnel</strong>. 
                </p>
                <p>
                    Les compétences acquises me permettent aujourd'hui de mener à bien des projets "fullstack" en solo ou même de travailler en équipe, notament par l'intermédiaire du gestionnaire de version Git et de la plateforme en ligne Github. 
                </p>
                <p>
                    Depuis la fin de ma formation je n'ai de cesse de me former à de nouveaux langages et frameworks. Je m'exerce en réalisant des projets "personnels" et en tant que "Freelance".
                </p>

                <!--Signature Image-->
{#                 <div class="signature mt-20">
                    <img src="img/signature-black.png" alt="">
                </div> #}
            </div>

            <!--Personal Info-->
            <div class="col-lg-4">
                <div class="about-info">
                    <h3 class="mb-20">Informations Personnelles</h3>
                    <ul>
                        <li><span class="title">Nom</span><span class="value">Olivier Lartillot</span></li>
                        <li><span class="title">Résidence</span><span class="value">Montpellier, France</span></li>
                        <li><span class="title">Email</span><span class="value">
                        <a href="#contact">oliv<!-- Ceci embete -->ier.lart<!-- les robots -->illot@gm<span class="protectionspam ps-1">on se protége contre le spam</span>ail.com</a>
                        </span></li>
                        <li><span class="title">Tel</span><span class="value"><a class="phone" href="tel:+33638327548">0<!-- Ceci embete -->63<span class="protectionspam ps-1">on se protége contre le spam</span>832<!-- Ceci embete -->7548</a> </span></li>

                        <li><span class="title">Emploi</span><span class="value">A l'écoute d'opportunités</span></li>
                        <li>Actuellement Freelance</li>
                    </ul>
                    <div class="resume-button mt-30">
                        <a class="btn-main" target="blank" href="{{ asset('documents/cv.pdf') }}">Télécharger le CV</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Info Row End-->


       
            {% include 'composants/skills.html.twig' %}
       


        <!--Services Row Start-->
        <div class="row services mt-70 mb-30">
            <div class="col-md-12">
                <div class="subheading">
                    <h3>Compétences</h3>
                </div>
            </div>

            <!--Service Item-->
            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-laptop"></i></div>
                    <h4>Dévelopment de site web</h4>
                    <p>Vous souhaitez mettre en avant votre entreprise, présenter des produits, être contactés par des clients.</p>
                </div>
            </div>
            <!--Service Item-->
            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-camera"></i></div>
                    <h4>Développement d'applications web</h4>
                    <p>Vous souhaitez mettre en place une application sur mesure pour faciliter le travail dans votre entrepise, contactez moi pour étudier ensemble la faisabilité du projet.</p>
                </div>
            </div>

            <!--Service Item-->
            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-eye"></i></div>
                    <h4>SEO</h4>
                    <p>Placez votre site dans les meilleurs résultats de google.</p>
                </div>
            </div>

            <!--Service Item-->
            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-laptop-phone"></i></div>
                    <h4>Design Adaptatif</h4>
                    <p>Que l'utilisateur soit sur un grand écran comme les PC, sur téléphone ou même tablette, votre site sera toujours bien présenté.</p>
                </div>
            </div>

        </div>
        <!--Services Row End-->

        <!--Clients Row Start-->
        {#<div class="row clients mb-70">
            <div class="col-md-12">
                <div class="subheading">
                    <h3>Clients</h3>
                </div>
            </div>

            <div class="owl-carousel owl-theme">

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="img/clients/client-01.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="img/clients/client-02.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="img/clients/client-03.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="img/clients/client-04.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="img/clients/client-05.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="img/clients/client-06.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="img/clients/client-07.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="img/clients/client-08.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="img/clients/client-09.png" alt="">
                    </a>
                </div>

            </div>
        </div> #}
        <!--Clients Row End-->

        <!--Testimonials Row Start-->
        {# <div class="row testimonials mb-50">
            <div class="col-md-12">
                <div class="subheading">
                    <h3>Testimonials</h3>
                </div>
                <div class="owl-carousel owl-theme">

                    <!--Testimonail Item-->
                    <div class="testimonial-item">
                        <div class="testimonial-content">
                            <p>Ipsum ab necessitatibus numquam vitae quis. Nobis nostrum deserunt suscipit eos fugit. Consectetur dolorum temporibus facilis impedit exercitationem dignissimos.</p>
                        </div>
                        <div class="testimonial-meta">
                            <img src="img/testimonials/author-1.jpg" alt="">
                            <div class="meta-info">
                                <h4>Kate Fox</h4>
                                <p>Digital Marketing Executive</p>
                            </div>
                        </div>
                    </div>

                    <!--Testimonail Item-->
                    <div class="testimonial-item">
                        <div class="testimonial-content">
                            <p>Ipsum ab necessitatibus numquam vitae quis. Nobis nostrum deserunt suscipit eos fugit. Consectetur dolorum temporibus facilis impedit exercitationem dignissimos.</p>
                        </div>
                        <div class="testimonial-meta">
                            <img src="img/testimonials/author-2.jpg" alt="">
                            <div class="meta-info">
                                <h4>Emma Jones</h4>
                                <p>Creative Director</p>
                            </div>
                        </div>
                    </div>

                    <!--Testimonail Item-->
                    <div class="testimonial-item">
                        <div class="testimonial-content">
                            <p>Ipsum ab necessitatibus numquam vitae quis. Nobis nostrum deserunt suscipit eos fugit. Consectetur dolorum temporibus facilis impedit exercitationem dignissimos.</p>
                        </div>
                        <div class="testimonial-meta">
                            <img src="img/testimonials/author-3.jpg" alt="">
                            <div class="meta-info">
                                <h4>Jack Smith</h4>
                                <p>Marketing Director</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--Testimonials Row End-->

        </div> #}




    </div>
</section>
<!--About Section End-->