<!--Resume Section Start-->
<section id="resume" class="resume-section pt-page">
    <div class="section-container">
        <div class="page-heading">
            <span class="icon"><i class="lnr lnr-license"></i></span>
            <h2>Mon CV</h2>
        </div>

        <!--Education & Experience Row Start-->
        <div class="row mb-20">

            <!--Experience Column Start-->
            <div class="col-lg-6">
                <div class="subheading">
                    <h3>Experience</h3>
                </div>
                <ul class="experience">

                    <!--Experience Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Projets et apprentissages</h4>
                            <h5>Période d'approfondissement</h5>
                            <p class="info">
                                Suite à ma formation, j'ai décidé d'initier une période de consolidation mais aussi d'apprentissage en autodidacte. Essentiellement au travers de projets, j'ai pu approfondir mes compétences en Symfony et PHP Orienté Objet, aller plus loin dans la maîtrise de wordpress et Laravel mais aussi apprendre Python et expérimenter Django. Dernièrement j'ai aborder le framework Vue.js que je compte creuser un peu plus dans l'optique de développer mes compétences en front.
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">Avril 2022</span>
                            <span class="from">Mars 2022</span>
                        </span>
                    </li>

                    <!--Experience Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Lead Developper et Product Owner</h4>
                            <h5>Projet de fin d'études, O'clock</h5>
                            <p class="info">
                                Instigateur du projet Easy Sports Tests, c'est tout naturellement que j'ai pris le rôle de product owner dans l'équipe ayant travaillée autour de ce projet. Celui-ci m'a beaucoup apporté sur la façon de travailler en équipe sur des projets, notamment en mettant en place une méthode agile (SCRUM).
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">Avril 2022</span>
                            <span class="from">Mars 2022</span>
                        </span>
                    </li>

                    <!--Experience Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Projets de fins de cycles</h4>
                            <h5>Formation O'clock</h5>
                            <p class="info">
                                Tout au long de la formation, j'ai réalisé des projets reprenant les compétences nouvellement acquises. Ainsi, j'ai pu m'exercer par exemple, sur la POO en php, réaliser de petits composants en javascript ou encore aborder des frameworks ou CMS (Laravel, Wordpress).
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2022</span>
                            <span class="from">2021</span>
                        </span>
                    </li>
                   
                    <!--Experience Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Développeur apprenant autodidacte</h4>
                            <h5>Le SDZ(openclassrooms), joomla, monEspaceSport et Fanteam</h5>
                            <p class="info">
                                2005 fut pour moi l'année ou je découvris le dévelopement. Par un "petit projet entre ami" et Joomla. Cela me donna l'envie d'aller plus loin, de réussir des cours sur openclassrooms, d'expérimenter HTML et CSS dans un premier temps puis php et mysql. L'abouttisement de cette période fut la crétaion d'un site assez complexe sur un championnat autour des paris sportifs, entièrement "fait à la main": Fanteam.fr.
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2021</span>
                            <span class="from">2005</span>
                        </span>
                    </li>

                </ul>

                <div class="subheading">
                    <h3>Autres Experiences</h3>
                </div>
                    <ul class="experience">
                    
                        <li>
                            <span class="line-left"></span>
                            <div class="content">
                                <h4>Sports</h4>
                                <h5>Coach Sportif - Préparateur Physique- Educateur Sportif</h5>
                                <p class="info">
                                    Animation de séances individuelles ou de groupes. Cette période m'a beaucoup appris de la communication avec les autres ainsi que sur la gestion des groupes.
                                </p>
                            </div>
                            <span class="year">
                            <span class="to">2018</span>
                            <span class="from">1998</span>
                            </span>
                        </li>

                        <li>
                            <span class="line-left"></span>
                            <div class="content">
                                <h4>Restauration</h4>
                                <h5>Restauration Collective, commis de cuisine</h5>
                                <p class="info">
                                    Responsable de satellite sur les dernières années de mes fonctions, j'ai bien aimé les échanges avec les clients lors du service, la gestion des commandes/stocks en partenariat avec le gérant du groupe mais l'apprentissage du développement à été plus fort pour moi et m'a arraché à ce beau métier !
                                </p>
                            </div>
                            <span class="year">
                            <span class="to">2021</span>
                            <span class="from">2009</span>
                            </span>
                        </li>

                        <li>
                            <span class="line-left"></span>
                            <div class="content">
                                <h4>Livraison</h4>
                                <h5>Livraison à vélo, attendez moi j'arrive !</h5>
                                <p class="info">
                                    Après l'arrêt de mon activité de coaching, j'ai décidé de monter mon autoentreprise dans la livraison de marchandise, à vélo pour continuer à travailler tout en fasint du sport.
                                </p>
                            </div>
                            <span class="year">
                            <span class="to">2021</span>
                            <span class="from">2009</span>
                            </span>
                        </li>



                    </ul>


            </div>
            <!--Experience Column End-->

            <!--Education Column Start-->
            <div class="col-lg-6">
                <div class="subheading">
                    <h3>Education</h3>
                </div>

                <ul class="education">

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Titre pro </h4>
                            <h5>Développeur Web et Web Mobile</h5>
                            <p class="info">
                                Suite à ma formation chez O'clock, j'ai passé ce titre que j'ai obtenu à Paris le 03 juin 2022, jour de mon anniversaire ! Est ce un cadeau du Jury ?
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2022</span>
                            <span class="from">2022</span>
                        </span>
                    </li>

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>OPQUAST</h4>
                            <h5>Niveau Expert 910 pts</h5>
                            <p class="info">
                                "La certification Opquast dote les professionnels du web d’un socle de règles, de compétences et de vocabulaire multidisciplinaires (référencement, sécurité, accessibilité, données personnelles, performance, écoconception, e-commerce)."
                            </p><br>
                                <a href="https://www.opquast.com/certification/" target="blank" class="btn-main">En savoir plus</a>
                        </div>
                        <span class="year">
                            <span class="to">2022</span>
                            <span class="from">2022</span>
                        </span>
                    </li>

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Formation O'clock</h4>
                            <h5>Développeur Web</h5>
                            <p class="info">
                                Lors de cette formation, nous avons abordé toute les bases du développement web. HTML, CSS, Javascript, PHP, SQL Environnement Linux et Ligne de commande, Git/Github, Méthodes Agiles, POO, Responsive... J'ai appris les fonctionnements de Laravel, Wordpress, des APIS et de l'AJAX.
                                Attiré par le back, j'ai choisi l'option Symfony pour en savoir plus sur cette grande usine.
                                Aussi depuis cette période lorsque j'entends parler des termes suivants : Composer, SEO, Design Patterns, ORM, déploiement, je ne reste plus bouche bée !
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2022</span>
                            <span class="from">2021</span>
                        </span>
                    </li>

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Autodidacte / Openclassrooms</h4>
                            <h5>Développeur Web</h5>
                            <p class="info">
                                Mon apprentissage s'est fait en ligne dès le début des années 2000 par l'intermédiaire du "Site du Zéro", devenu Openclassrooms. J'y ai obtenu quelques certificats comme "Concevez votre site web avec PHP et MySQL" ou "Apprenez les bases du langage Python" etc. et y ai pioché pleins d'autres ressources.
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">Aujourd'hui</span>
                            <span class="from">~2000</span>
                        </span>
                    </li>

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>UFR STAPS</h4>
                            <h5>Diplômé de sport et éducation</h5>
                            <p class="info">
                                Licence Education et Motricité, Entraînement Sportif et Master 
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2005</span>
                            <span class="from">1998</span>
                        </span>
                    </li>


                </ul>
            </div>
            <!--Education Column End-->

        </div>
        <!--Education & Experience Row End-->


        <!--Skills & Experience Row Start-->


     {# {% include 'composants/skills.html.twig' %} #}



    </div>
</section>
<!--Resume Section End-->