<!--Porfolio Section Start-->
<section id="services" class="about-section pt-page">
    <div class="section-container">

        <!--Page Heading-->
        <div class="page-heading">
            <span class="icon"><i class="lnr lnr-magic-wand"></i></span>
            <h2>Services</h2>
        </div>

            <div class="col-md-12">
                <div class="subheading">
                    <h3>En bref</h3>
                </div>
            </div>

        {% include 'composants/services.html.twig' %}

            <div class="col-md-12">
                <div class="subheading">
                    <h3>En Détail</h3>
                </div>
            </div>

            <div class="row justify-content-around services mb-30 ">
                <!-- service item Start -->
                <div class="card col-12 shadow p-3 my-3">
                    <div class="service-item">
                        <div class="icon">
                            <i class="lnr lnr-laptop"></i>
                        </div>
       
                        <div class="card-title">
                            <h3> Sites Web</h3>
                        </div>
                        <div class="card-content">
                            <p>Je vous accompagne tout au long du processus ...</p>
                        </div>
                    </div>
                </div>
                <!-- service item End -->
                <!-- service item Start -->
                <div class="card col-12 shadow p-3 my-3">
                    <div class="service-item">
                        <div class="icon">
                            <i class="lnr lnr-camera"></i>
                        </div>
                        <div class="card-title">
                            <h3>Applications WEB</h3>
                        </div>
                        <div class="card-content">
                            <p>Je vous accompagne tout au long du processus ...</p>
                        </div>
                    </div>
                </div>
                <!-- service item End -->

            </div>












    </div>
</section>