        <!--Skills Row Start-->
        <div class="row">


            <!--Coding Skills Column Start-->
            <div class="col-lg-6 skills">
                <div class="subheading">
                    <h3>Coding Skills</h3>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">HTML5</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="80">
                            <div class="progress-value">80%</div>
                        </div>
                    </div>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">CSS3</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="75">
                            <div class="progress-value">75%</div>
                        </div>
                    </div>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title"><strong>PHP</strong></h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="90">
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Javascript</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="70">
                            <div class="progress-value">70%</div>
                        </div>
                    </div>
                </div>

                                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Python</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="73">
                            <div class="progress-value">73%</div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Coding Skills Column End-->


            <!--Design Skills Column Start-->
            <div class="col-lg-6 skills">
                <div class="subheading">
                    <h3>Habitudes de développement</h3>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Vue.js</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="20">
                            <div class="progress-value">20%</div>
                        </div>
                    </div>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title"><strong>Symfony</strong></h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="87">
                            <div class="progress-value">87%</div>
                        </div>
                    </div>
                </div>

                                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title"><strong>Github</strong></h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="90">
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Wordpress</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="50">
                            <div class="progress-value">50%</div>
                        </div>
                    </div>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Laravel</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="30">
                            <div class="progress-value">30%</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Design Skills Column End-->






        </div>
        <!--Skills Row End-->

       
