{% extends 'baseExceptions.html.twig' %}

    {% block body %}
        <div>
            <h1 class="mb-3 ">Page non trouvée - erreur 500</h1>
                    
            <p class="lead my-5">
                Cette page indique que le serveur a retourné une erreur.                 
            </p>
        </div>
    {% endblock %}