{% extends 'baseExceptions.html.twig' %}

    {% block body %}
        <div>
            <h1 class="mb-3 ">Page non trouvée - erreur 404</h1>  
            <p class="lead my-5">
                La page à laquelle vous essayez d'accéder n'existe pas ou a été déplacée. N'hésitez pas à nous contacter pour que nous puissions réparer ce lien.
            </p>
        </div>
    {% endblock %}